<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Protocolo</th>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>Descrição</th>
            <th>Situação</th>
            <th>Condição</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>123123123</td>
            <td>J.D.</td>
            <td>12/06/1962</td>
            <td>PSICOLOGO ADULTO</td>
            <td>PENDENTE</td>
            <td>Pendente</td>
        </tr>
        <tr>
            <td>1</td>
            <td>123123124</td>
            <td>J.D.</td>
            <td>12/06/1962</td>
            <td>PSICOLOGO ADULTO</td>
            <td>PENDENTE</td>
            <td>Pendente</td>
        </tr>
        <tr>
            <td>1</td>
            <td>123123125</td>
            <td>J.D.</td>
            <td>12/06/1962</td>
            <td>PSICOLOGO ADULTO</td>
            <td>PENDENTE</td>
            <td>Pendente</td>
        </tr>
    </tbody>
</table>